[Unit]
Description=Run altserver daemon

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/altserver

[Install]
WantedBy=multi-user.target
