[Unit]
Description=Run altserver daemon using usbmuxd port %i

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/altserver
Environment=USBMUXD_SOCKET_ADDRESS=127.0.0.1:%i

[Install]
WantedBy=default.target
