[Unit]
Description=Run netmuxd in extension mode
Requires=usbmuxd.service

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/netmuxd --disable-unix --host 127.0.0.1

[Install]
WantedBy=default.target
