[Unit]
Description=Run netmuxd in extension mode on port %i
Wants=usbmuxd.service

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/netmuxd --disable-unix --host 127.0.0.1 --port %i

[Install]
WantedBy=default.target
